---
layout: default
---

<div class="page-content">
    <div>
        <!-- Title and Player Buttons -->
        <div style="height: 7em;">
            {% include currentPlayers.html %}
        </div>
        <div class="col-md-12">
            {% include importExport.html %}
        </div>
        <div class="col-md-6">
            {% include queueTable.html %}
        </div>
        <div class="col-md-6">
            {% include benchTable.html %}
        </div>
    </div>
</div>

<script>
    playerTable = $("#player-table")[0];
    benchTable = $("#bench-table")[0];
	updatePage();
</script>