---
layout: default
title: Profile
---

<script src="{{ site.baseurl }}/js/userAuth.js"></script>

<div id="container" class="container">
    <!-- ALERT BOX -->
    <div id="alert" class="alert hidden" role="alert">
        <h4 id="alert-title"></h4>
        <p id="alert-detail"></p>
    </div>
    <!-- / ALERT BOX -->
    {% include frmLogin.html %}
    {% include frmRegister.html %}
    {% include frmProfile.html %}
    {% include frmChangePassword.html %}
    {% comment %}
    {% include frmForgotPassword.html %}
    {% include frmChangeEmail.html %}
    {% endcomment %}
    <!-- LOGOUT -->
    <form id="frmLogout" role="form">
        <h2>You are logged out!</h2>
    </form>
    <!-- / LOGOUT -->
</div>