<div class="panel panel-primary tabpanel">
    <div class="panel-heading tabpanel condensed">
        <span class="input-group">
            <input type="text" id="player" class="form-control condensed" onkeydown="bench(event)" />
            <span class="input-group-btn">
                <input type="button" id="addToBench" class="btn btn-default condensed" value="Add to bench" onclick="addToTable('bench-table', $('#player')[0].value, 0, 0)" />
            </span>
        </span>
    </div>
    <table class="table table-striped table-hover table-condensed sortable">
        <thead>
            <tr>
                <th class="sorttable_nosort"></th>
                <th>Player</th>
                <th>Wins</th>
                <th>Losses</th>
                <th class="sorttable_nosort"></th>
            </tr>
        </thead>
        <tbody id="bench-table"></tbody>
    </table>
</div>