        <footer>
            <hr/>
            <div class="wrapper">
                <table class="table">
                    <tr class="danger">
                        <td>Contact</td>
                        <td>{% include icon-github.html username=site.github_username %}</td>
                        <td>{% include icon-twitter.html username=site.twitter_username %}</td>
                        <td><a href="https://github.com/hounvs/QueueUp/issues">Issues Tracker</a></td>
                    </tr>
                </table>

                <div class="footer-col footer-col-3">
                    <p>{{ site.description }}</p>
                </div>
            </div>
        </footer>
    </body>
</html>
