<form id="frmChangePassword" role="form">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">Change Password</h2>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" />
            </div>
            <div class="form-group">
                <label for="oldPassword">Old Password</label>
                <input type="password" class="form-control" id="oldPassword" placeholder="Old Password" name="oldPassword" />
            </div>
            <div class="form-group">
                <label for="newPassword">New Password</label>
                <input type="password" class="form-control" id="newPassword" placeholder="New Password" name="newPassword" />
            </div>
            <div class="form-group">
                <label for="confirmNewPassword">Confirm New Password</label>
                <input type="password" class="form-control" id="confirmNewPassword" placeholder="Confirm New Password" name="confirmNewPassword" />
            </div>
            <button type="submit" class="btn btn-primary btn-block">Change Password</button>
        </div>
    </div>
</form>