<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script src="{{ site.baseurl }}/js/jquery-2.1.4.min.js"></script>
    <script src="{{ site.baseurl }}/js/jquery.serialize-object.compiled.js"></script>
    <script src="{{ site.baseurl }}/js/path.min.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/js/sorttable.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.4.0/firebase.js"></script>
    <script src="{{ site.baseurl }}/js/site.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.css" />
    <!-- TODO: refactor out main.css -->
    <link rel="stylesheet" type="text/css" href="./css/main.css" />
    <link rel="stylesheet" type="text/css" href="./css/site.css" />
    <title></title>
</head>
<body>
