<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script src="{{ site.baseurl }}/js/jquery-2.1.4.min.js"></script>
    <script src="{{ site.baseurl }}/js/jquery.serialize-object.compiled.js"></script>
    <script src="{{ site.baseurl }}/js/firebase.js"></script>
    <script src="{{ site.baseurl }}/js/path.min.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/js/sorttable.js"></script>
    <script src="{{ site.baseurl }}/js/hammer.min.js"></script>
    <script src="{{ site.baseurl }}/js/site.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/site.css" />
    {% include favicon.html %}
    <title></title>
</head>
<body>
