<!-- Import/Export -->
<div class="input-group">
    <span class="input-group-btn">
        <input id="exportButton" type="button" class="btn btn-primary" value="Export Stats" onclick="exportStats()" />
    </span>
    <textarea id="data-dump" rows="1" class="form-control"></textarea>
    <span class="input-group-btn">
        <input id="importButton" type="button" class="btn btn-primary" value="Import Stats" onclick="importStats('bench-table')" />
    </span>
</div>
<a href="./Stats/stats.csv">Download stats.csv (Manual update required for now)</a>
