<!-- Import/Export -->
<div class="input-group">
    <span class="input-group-btn">
        <input id="exportButton" type="button" class="btn btn-default" value="Export Stats" onclick="exportStats()" />
    </span>
    <textarea id="data-dump" rows="1" class="form-control"></textarea>
    <span class="input-group-btn">
        <input id="importButton" type="button" class="btn btn-default" value="Import Stats" onclick="importStats('bench-table')" />
    </span>
</div>
<a href="{{ site.baseurl }}/stats/stats.csv">
    Download example stats.csv for manual import
</a>
<p>
    Import: Open with text editor, copy everything, paste into the field above, and click Import Stats
</p>
<p>
    Export: Move everyone to the bench, click Export Stats, copy everything from the field above, paste into empty file, and save file as a .csv
</p>