<form id="frmProfile" role="form">
    <div>
        <a class="btn btn-warning btn-block" href="#/logout">Logout</a>
    </div>
    
    <hr/>
    
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">Profile</h2>
        </div>
        <div class="panel-body">
            <img id="gravatar" src="" alt="gravatar" height="80px" width="80" />
            <span class="well well-sm">
                Snagged from <a href="http://www.gravatar.com">Gravatar</a>
            </span>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Name" name="name" autocomplete="off" />
            </div>
            <div class="form-group">
                <label for="oldEmail">Current Email</label>
                <input type="text" class="form-control" id="oldEmail" placeholder="user@example.com" autocomplete="off" />
            </div>
            <div class="form-group">
                <label for="newEmail">New Email</label>
                <input type="text" class="form-control" id="newEmail" placeholder="user@example.com" autocomplete="off" />
            </div>
            <div class="form-group">
                <label for="oldPassword">Current Password</label>
                <input type="password" class="form-control" id="oldPassword" autocomplete="off" />
            </div>
            <div class="form-group">
                <label for="newPassword">New Password</label>
                <input type="password" class="form-control" id="newPassword" autocomplete="off" />
            </div>
            <!-- <div class="form-group">
            <label for="ddlDino">Favorite Dinosaur</label>
            <select id="ddlDino" name="favoriteDinosaur" class="form-control">
            <option>None</option>
            <option>Pteranodon</option>
            <option>Lambeosaurus</option>
            <option>Stegosaurus</option>
            <option>Daspletosaurus</option>
            </select>
            </div> -->
            <button type="submit" class="btn btn-primary btn-block">Update</button>
        </div>
    </div>
</form>